In [1]:
#importing libraries

In [2]:
import re
import parse
import pdfplumber
import pandas as pd
from collections import namedtuple
import warnings
warnings.simplefilter("ignore")

In [3]:
#Reading pdf file and connverting it to text format for better extraction

In [4]:
ap = "data.pdf"

In [5]:
with pdfplumber.open(ap) as pdf:
    page = pdf.pages[1] # type page nummber to be converted
    text = page.extract_text()

In [6]:
print(text)

UNIVERSITY OF MUMBAI
Page No.: 1664
OFFICE REGISTER FOR THE B.E.(COMPUTER ENGINEERING) (SEM VIII) (CBCS) ('C'SCHEME) EXAMINATION HELD IN MAY 2023
COLLEGE/CENTRE NAME:995:NEWHORIZON RESULT DATE :- JULY 12, 2023
------------------------------------------------------------------------------------------------------------------------------------------------------
SEAT_NO NAME
<Course-I> <Course-II> <Course-III> <Course-IV> <Course-V > <Course-VI> <Course-VII> <Course-VIII>
Th(80/32) Th(80/32) Th(80/32) Th(80/32) Tw(25/10) Tw(25/10) Tw(25/10) Tw(100/40) TOTAL MARKS
In(20/08) In(20/08) In(20/08) In(20/08) Or(25/10) Or(25/10) Or/Pr(25/10) Or/Pr(50/20) RESULT REMARK OUT OF 700
Total Total Total Total Total Total Total Total
C G GP C*G C G GP C*G C G GP C*G C G GP C*G C G GP C*G C G GP C*G C G GP C*G C G GP C*G äC äCG SGPI
------------------------------------------------------------------------------------------------------------------------------------------------------
01. CSC801 DISTRIBUTED COMPUTING 04. CSDC8013 APPLIED DATA SCIENCE 07. CSDC8023 SOCIAL MEDIA ANALYTICS
16. ILO8029 ENVIRONMENTAL MANAGEMENT 17. CSL801 DISTRIBUTED COMPUTING LAB 20. CSDL8013 APPLIED DATA SCIENCE LAB
23. CSDL8023 SOCIAL MEDIA ANALYTICS LAB 24. CSP801 MAJOR PROJECT II
------------------------------------------------------------------------------------------------------------------------------------------------------
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY
42 47 61 37 21 18 21 85
15 11 16 15 19 21 22 45 P 496
57 58 77 52 40 39 43 130
3 D 6 18 3 D 6 18 3 A 9 27 3 D 6 18 1 O 10 10 1 A 9 9 1 O 10 10 6 O 10 60 21 170 8.10
SGPI: SEM-I: 7.33 ; SEM-II: 8.95 ; SEM-III: 9.39 ; SEM-IV: 9.75 ; SEM-V: 9.27 ; SEM-VI: 7.43 ; SEM-VII: 8.86 ; CGPI: 8.67
CREDITS: SEM-I: 18 ; SEM-II: 20 ; SEM-III: 23 ; SEM-IV: 24 ; SEM-V: 22 ; SEM-VI: 23 ; SEM-VII: 22
MARKS: SEM-I:460/675; SEM-II:577/725; SEM-III:627/775; SEM-IV:636/775; SEM-V:608/775; SEM-VI:523/775; SEM-VII:551/725; TOTAL: 4478/5925 (75.58%)
------------------------------------------------------------------------------------------------------------------------------------------------------
6032028 DHOKE GAURAV BHASKAR VISHAKHA
35 47 56 60 20 17 20 76
11 13 11 12 18 16 21 45 P RPV 478
46 60 67 72 38 33 41 121
3 E 5 15 3 C 7 21 3 C 7 21 3 B 8 24 1 A 9 9 1 C 7 7 1 O 10 10 6 O 10 60 21 167 7.95
(DIPLOMA STUDENT) SGPI: SEM-III: 8.87 ; SEM-IV: 9.12 ; SEM-V: 8.95 ; SEM-VI: 6.00 ; SEM-VII: 6.91 ; CGPI: --
CREDITS: SEM-III: 23 ; SEM-IV: 24 ; SEM-V: 22 ; SEM-VI: 23 ; SEM-VII: 22
MARKS: SEM-III:595/775; SEM-IV:613/775; SEM-V:596/775; SEM-VI:430/775; SEM-VII:442/725; TOTAL: --
------------------------------------------------------------------------------------------------------------------------------------------------------
6032029 /GUPTA AANCHAL NEERAJ SWATI
54 63 72 68 23 23 23 91
15 19 18 18 22 23 23 48 P 603
69 82 90 86 45 46 46 139
3 C 7 21 3 O 10 30 3 O 10 30 3 O 10 30 1 O 10 10 1 O 10 10 1 O 10 10 6 O 10 60 21 201 9.57
SGPI: SEM-I: 7.56 ; SEM-II: 9.00 ; SEM-III: 9.87 ; SEM-IV: 9.88 ; SEM-V: 9.59 ; SEM-VI: 9.00 ; SEM-VII: 8.27 ; CGPI: 9.14
CREDITS: SEM-I: 18 ; SEM-II: 20 ; SEM-III: 23 ; SEM-IV: 24 ; SEM-V: 22 ; SEM-VI: 23 ; SEM-VII: 22
MARKS: SEM-I:458/675; SEM-II:577/725; SEM-III:666/775; SEM-IV:666/775; SEM-V:640/775; SEM-VI:605/775; SEM-VII:536/725; TOTAL: 4751/5925 (80.19%)
------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------
/- FEMALE, #- O.229, @- O.5042/O.5043, *- O.5045, $- Carried Forward Grade, ~- Dyslexia, A/ABS- Absent, F- Fails, P- Passes
RR- Reserved, RLE- Reserve for Lower Examination, RPV- Provisional, RCC- O.5050, ADC- Admission Cancelled
G:Grade, GP:Grade Point, C:Credits, äC:Sum of Credit Points, äCG:Sum of Product of Credits & Grades
SGPI:Semester Grade Performance Index = äCG/äC, CGPI:Cumulative Grade Performance Index
% Marks : 80 and Above 75-79.99 70-74.99 60-69.99 50-59.99 45-49.99 40-44.99 Less Than 40
Grade / Gr. Pt. : O / 10 A / 9 B / 8 C / 7 D / 6 E / 5 P / 4 F / 0
------------------------------------------------------------------------------------------------------------------------------------------------------

In [7]:
#Extracting name using regular expression and splitting seat number and name along with marks

In [8]:
new_vend_re = re.compile(r'^\d{7} (/[A-Z]|[A-Z]).*')

In [9]:
for line in text.split('\n'):
    if new_vend_re.match(line):
        print(line)

6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY
6032028 DHOKE GAURAV BHASKAR VISHAKHA
6032029 /GUPTA AANCHAL NEERAJ SWATI

In [10]:
for line in text.split('\n'):
    if new_vend_re.match(line):
        vend_num, *vend_name = line.split()
        vend_name = ' '.join(vend_name)
print(vend_num)
print(vend_name)

6032029
/GUPTA AANCHAL NEERAJ SWATI

In [11]:
data_pattern1 = re.compile(r'(\d{2}) (\d{2}) (\d{2}) (\d{2}) (\d{2}) (\d{2}) (\d{2}) (\b\d{2,3}\b)')

In [12]:
for line in text.split('\n'):
    line = data_pattern1.search(line)
    if line:
        print(line.group(8))

85
45
130
76
45
121
91
48
139

In [13]:
Inv = namedtuple('Inv', 'std_num, std_name, DISTRIBUTED_COMPUTING, APPLIED_DATA_SCIENCE, SOCIAL_MEDIA_ANALYTICS, ENVIRONMENTAL_MANAGEMENT, DISTRIBUTED_COMPUTING_LAB, APPLIED_DATA_SCIENCE_LAB, SOCIAL_MEDIA_ANALYTICS_LAB, MAJOR_PROJECT_II ')

In [14]:
#Alloting extracted values their respective places

In [15]:
line_items = []
for line in text.split('\n'):
    if new_vend_re.match(line):
        std_num, *std_name = line.split()
        std_name = ' '.join(std_name)    
    
    line = data_pattern1.search(line)
    if line:
        DISTRIBUTED_COMPUTING = line.group(1)
        APPLIED_DATA_SCIENCE = line.group(2)
        SOCIAL_MEDIA_ANALYTICS = line.group(3)
        ENVIRONMENTAL_MANAGEMENT = line.group(4)
        DISTRIBUTED_COMPUTING_LAB = line.group(5)
        APPLIED_DATA_SCIENCE_LAB = line.group(6)
        SOCIAL_MEDIA_ANALYTICS_LAB = line.group(7)
        MAJOR_PROJECT_II = line.group(8)
        
        line_items.append(Inv(std_num, std_name, DISTRIBUTED_COMPUTING, APPLIED_DATA_SCIENCE, SOCIAL_MEDIA_ANALYTICS, ENVIRONMENTAL_MANAGEMENT, DISTRIBUTED_COMPUTING_LAB, APPLIED_DATA_SCIENCE_LAB, SOCIAL_MEDIA_ANALYTICS_LAB, MAJOR_PROJECT_II))

In [16]:
df_1 = pd.DataFrame(line_items)
df_1.head()

,std_num,std_name,DISTRIBUTED_COMPUTING,APPLIED_DATA_SCIENCE,SOCIAL_MEDIA_ANALYTICS,ENVIRONMENTAL_MANAGEMENT,DISTRIBUTED_COMPUTING_LAB,APPLIED_DATA_SCIENCE_LAB,SOCIAL_MEDIA_ANALYTICS_LAB,MAJOR_PROJECT_II
0,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,42,47,61,37,21,18,21,85
1,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,15,11,16,15,19,21,22,45
2,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,57,58,77,52,40,39,43,130
3,6032028,DHOKE GAURAV BHASKAR VISHAKHA,35,47,56,60,20,17,20,76
4,6032028,DHOKE GAURAV BHASKAR VISHAKHA,11,13,11,12,18,16,21,45

In [17]:
#extracting remaining values such as total, remark and category

In [19]:
data_pattern_2 = re.compile(r' (\d{2}) ([PF]*)([RR|RLE|RPV|RCC|ADC].*) (\d{3})')

In [20]:
for line in text.split('\n'):
    line = data_pattern_2.search(line)
    if line:
        print(line.group(4))

496
478
603

In [21]:
Inv_1 = namedtuple('Inv', 'std_num, std_name, REMAR_K, TOTA_l ')

In [22]:
line_items = []
for line in text.split('\n'):
    if new_vend_re.match(line):
        std_num, *std_name = line.split()
        std_name = ' '.join(std_name)    
    
    line = data_pattern_2.search(line)
    if line:
        REMAR_K = line.group(3)
        TOTA_l = line.group(4)
        
        
        line_items.append(Inv_1(std_num, std_name, REMAR_K, TOTA_l ))

In [23]:
df_2 = pd.DataFrame(line_items)
df_2.head()

   std_num                          std_name REMAR_K TOTA_l
0  6032027  /CHOUDHARY JYOTI PUNIYANAND RUBY       P    496
1  6032028     DHOKE GAURAV BHASKAR VISHAKHA   P RPV    478
2  6032029       /GUPTA AANCHAL NEERAJ SWATI       P    603

In [24]:
#combining both above data frames to get desired dataframe
inner = pd.merge(df_1,df_2)
inner

,std_num,std_name,DISTRIBUTED_COMPUTING,APPLIED_DATA_SCIENCE,SOCIAL_MEDIA_ANALYTICS,ENVIRONMENTAL_MANAGEMENT,DISTRIBUTED_COMPUTING_LAB,APPLIED_DATA_SCIENCE_LAB,SOCIAL_MEDIA_ANALYTICS_LAB,MAJOR_PROJECT_II,REMAR_K,TOTA_l
0,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,42,47,61,37,21,18,21,85,P,496
1,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,15,11,16,15,19,21,22,45,P,496
2,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,57,58,77,52,40,39,43,130,P,496
3,6032028,DHOKE GAURAV BHASKAR VISHAKHA,35,47,56,60,20,17,20,76,P RPV,478
4,6032028,DHOKE GAURAV BHASKAR VISHAKHA,11,13,11,12,18,16,21,45,P RPV,478
5,6032028,DHOKE GAURAV BHASKAR VISHAKHA,46,60,67,72,38,33,41,121,P RPV,478
6,6032029,/GUPTA AANCHAL NEERAJ SWATI,54,63,72,68,23,23,23,91,P,603
7,6032029,/GUPTA AANCHAL NEERAJ SWATI,15,19,18,18,22,23,23,48,P,603
8,6032029,/GUPTA AANCHAL NEERAJ SWATI,69,82,90,86,45,46,46,139,P,603

In [25]:
#Extracting the C G GP C*G and total

In [26]:
data_pattern_3 = re.compile(r'(\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+ [A-Z] \d+ \d+) (\d+) (\d{3} \d+\.\d{2})')

In [27]:
for line in text.split('\n'):
    line = data_pattern_3.search(line)
    if line:
        print(line.group(10))

170 8.10
167 7.95
201 9.57

In [28]:
Inv_2 = namedtuple('Inv', 'std_num, std_name, DISTRIBUTED_COMPUTING, APPLIED_DATA_SCIENCE, SOCIAL_MEDIA_ANALYTICS, ENVIRONMENTAL_MANAGEMENT, DISTRIBUTED_COMPUTING_LAB, APPLIED_DATA_SCIENCE_LAB, SOCIAL_MEDIA_ANALYTICS_LAB, MAJOR_PROJECT_II, REMAR_K, TOTA_l')

In [29]:
line_items = []
for line in text.split('\n'):
    if new_vend_re.match(line):
        std_num, *std_name = line.split()
        std_name = ' '.join(std_name)    
    
    line = data_pattern_3.search(line)
    if line:
        DISTRIBUTED_COMPUTING = line.group(1)
        APPLIED_DATA_SCIENCE = line.group(2)
        SOCIAL_MEDIA_ANALYTICS = line.group(3)
        ENVIRONMENTAL_MANAGEMENT = line.group(4)
        DISTRIBUTED_COMPUTING_LAB = line.group(5)
        APPLIED_DATA_SCIENCE_LAB = line.group(6)
        SOCIAL_MEDIA_ANALYTICS_LAB = line.group(7)
        MAJOR_PROJECT_II = line.group(8)
        REMAR_K = line.group(9)
        TOTA_l = line.group(10)
        
        line_items.append(Inv_2(std_num, std_name, DISTRIBUTED_COMPUTING, APPLIED_DATA_SCIENCE, SOCIAL_MEDIA_ANALYTICS, ENVIRONMENTAL_MANAGEMENT, DISTRIBUTED_COMPUTING_LAB, APPLIED_DATA_SCIENCE_LAB, SOCIAL_MEDIA_ANALYTICS_LAB, MAJOR_PROJECT_II,REMAR_K, TOTA_l))

In [30]:
df_3 = pd.DataFrame(line_items)
df_3.head()

,std_num,std_name,DISTRIBUTED_COMPUTING,APPLIED_DATA_SCIENCE,SOCIAL_MEDIA_ANALYTICS,ENVIRONMENTAL_MANAGEMENT,DISTRIBUTED_COMPUTING_LAB,APPLIED_DATA_SCIENCE_LAB,SOCIAL_MEDIA_ANALYTICS_LAB,MAJOR_PROJECT_II,REMAR_K,TOTA_l
0,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,3 D 6 18,3 D 6 18,3 A 9 27,3 D 6 18,1 O 10 10,1 A 9 9,1 O 10 10,6 O 10 60,21,170 8.10
1,6032028,DHOKE GAURAV BHASKAR VISHAKHA,3 E 5 15,3 C 7 21,3 C 7 21,3 B 8 24,1 A 9 9,1 C 7 7,1 O 10 10,6 O 10 60,21,167 7.95
2,6032029,/GUPTA AANCHAL NEERAJ SWATI,3 C 7 21,3 O 10 30,3 O 10 30,3 O 10 30,1 O 10 10,1 O 10 10,1 O 10 10,6 O 10 60,21,201 9.57

In [31]:
#Mearging data frame to get required output

In [32]:
entry_1= pd.DataFrame()
for i in df_3['std_num']:
    entry = inner.loc[inner['std_num']==i]
    entry=entry.append(df_3[df_3['std_num']==i],ignore_index=True)
    entry_1=entry_1.append(entry)
entry_1

,std_num,std_name,DISTRIBUTED_COMPUTING,APPLIED_DATA_SCIENCE,SOCIAL_MEDIA_ANALYTICS,ENVIRONMENTAL_MANAGEMENT,DISTRIBUTED_COMPUTING_LAB,APPLIED_DATA_SCIENCE_LAB,SOCIAL_MEDIA_ANALYTICS_LAB,MAJOR_PROJECT_II,REMAR_K,TOTA_l
0,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,42,47,61,37,21,18,21,85,P,496
1,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,15,11,16,15,19,21,22,45,P,496
2,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,57,58,77,52,40,39,43,130,P,496
3,6032027,/CHOUDHARY JYOTI PUNIYANAND RUBY,3 D 6 18,3 D 6 18,3 A 9 27,3 D 6 18,1 O 10 10,1 A 9 9,1 O 10 10,6 O 10 60,21,170 8.10
0,6032028,DHOKE GAURAV BHASKAR VISHAKHA,35,47,56,60,20,17,20,76,P RPV,478
1,6032028,DHOKE GAURAV BHASKAR VISHAKHA,11,13,11,12,18,16,21,45,P RPV,478
2,6032028,DHOKE GAURAV BHASKAR VISHAKHA,46,60,67,72,38,33,41,121,P RPV,478
3,6032028,DHOKE GAURAV BHASKAR VISHAKHA,3 E 5 15,3 C 7 21,3 C 7 21,3 B 8 24,1 A 9 9,1 C 7 7,1 O 10 10,6 O 10 60,21,167 7.95
0,6032029,/GUPTA AANCHAL NEERAJ SWATI,54,63,72,68,23,23,23,91,P,603
1,6032029,/GUPTA AANCHAL NEERAJ SWATI,15,19,18,18,22,23,23,48,P,603
2,6032029,/GUPTA AANCHAL NEERAJ SWATI,69,82,90,86,45,46,46,139,P,603
3,6032029,/GUPTA AANCHAL NEERAJ SWATI,3 C 7 21,3 O 10 30,3 O 10 30,3 O 10 30,1 O 10 10,1 O 10 10,1 O 10 10,6 O 10 60,21,201 9.57

In [33]:
entry_1.set_index(['std_num','std_name'], inplace=True)
entry_1.insert(0, 'Exam', ['External', 'Internal','Total','C G GP C*G', 'External', 'Internal','Total','C G GP C*G','External', 'Internal','Total','C G GP C*G'], True)
entry_1

                                                Exam DISTRIBUTED_COMPUTING  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY    External                    42
        /CHOUDHARY JYOTI PUNIYANAND RUBY    Internal                    15
        /CHOUDHARY JYOTI PUNIYANAND RUBY       Total                    57
        /CHOUDHARY JYOTI PUNIYANAND RUBY  C G GP C*G              3 D 6 18
6032028 DHOKE GAURAV BHASKAR VISHAKHA       External                    35
        DHOKE GAURAV BHASKAR VISHAKHA       Internal                    11
        DHOKE GAURAV BHASKAR VISHAKHA          Total                    46
        DHOKE GAURAV BHASKAR VISHAKHA     C G GP C*G              3 E 5 15
6032029 /GUPTA AANCHAL NEERAJ SWATI         External                    54
        /GUPTA AANCHAL NEERAJ SWATI         Internal                    15
        /GUPTA AANCHAL NEERAJ SWATI            Total                    69
        /GUPTA AANCHAL NEERAJ SWATI       C G GP C*G              3 C 7 21

                                         APPLIED_DATA_SCIENCE  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY                   47
        /CHOUDHARY JYOTI PUNIYANAND RUBY                   11
        /CHOUDHARY JYOTI PUNIYANAND RUBY                   58
        /CHOUDHARY JYOTI PUNIYANAND RUBY             3 D 6 18
6032028 DHOKE GAURAV BHASKAR VISHAKHA                      47
        DHOKE GAURAV BHASKAR VISHAKHA                      13
        DHOKE GAURAV BHASKAR VISHAKHA                      60
        DHOKE GAURAV BHASKAR VISHAKHA                3 C 7 21
6032029 /GUPTA AANCHAL NEERAJ SWATI                        63
        /GUPTA AANCHAL NEERAJ SWATI                        19
        /GUPTA AANCHAL NEERAJ SWATI                        82
        /GUPTA AANCHAL NEERAJ SWATI                 3 O 10 30

                                         SOCIAL_MEDIA_ANALYTICS  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY                     61
        /CHOUDHARY JYOTI PUNIYANAND RUBY                     16
        /CHOUDHARY JYOTI PUNIYANAND RUBY                     77
        /CHOUDHARY JYOTI PUNIYANAND RUBY               3 A 9 27
6032028 DHOKE GAURAV BHASKAR VISHAKHA                        56
        DHOKE GAURAV BHASKAR VISHAKHA                        11
        DHOKE GAURAV BHASKAR VISHAKHA                        67
        DHOKE GAURAV BHASKAR VISHAKHA                  3 C 7 21
6032029 /GUPTA AANCHAL NEERAJ SWATI                          72
        /GUPTA AANCHAL NEERAJ SWATI                          18
        /GUPTA AANCHAL NEERAJ SWATI                          90
        /GUPTA AANCHAL NEERAJ SWATI                   3 O 10 30

                                         ENVIRONMENTAL_MANAGEMENT  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY                       37
        /CHOUDHARY JYOTI PUNIYANAND RUBY                       15
        /CHOUDHARY JYOTI PUNIYANAND RUBY                       52
        /CHOUDHARY JYOTI PUNIYANAND RUBY                 3 D 6 18
6032028 DHOKE GAURAV BHASKAR VISHAKHA                          60
        DHOKE GAURAV BHASKAR VISHAKHA                          12
        DHOKE GAURAV BHASKAR VISHAKHA                          72
        DHOKE GAURAV BHASKAR VISHAKHA                    3 B 8 24
6032029 /GUPTA AANCHAL NEERAJ SWATI                            68
        /GUPTA AANCHAL NEERAJ SWATI                            18
        /GUPTA AANCHAL NEERAJ SWATI                            86
        /GUPTA AANCHAL NEERAJ SWATI                     3 O 10 30

                                         DISTRIBUTED_COMPUTING_LAB  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY                        21
        /CHOUDHARY JYOTI PUNIYANAND RUBY                        19
        /CHOUDHARY JYOTI PUNIYANAND RUBY                        40
        /CHOUDHARY JYOTI PUNIYANAND RUBY                 1 O 10 10
6032028 DHOKE GAURAV BHASKAR VISHAKHA                           20
        DHOKE GAURAV BHASKAR VISHAKHA                           18
        DHOKE GAURAV BHASKAR VISHAKHA                           38
        DHOKE GAURAV BHASKAR VISHAKHA                      1 A 9 9
6032029 /GUPTA AANCHAL NEERAJ SWATI                             23
        /GUPTA AANCHAL NEERAJ SWATI                             22
        /GUPTA AANCHAL NEERAJ SWATI                             45
        /GUPTA AANCHAL NEERAJ SWATI                      1 O 10 10

                                         APPLIED_DATA_SCIENCE_LAB  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY                       18
        /CHOUDHARY JYOTI PUNIYANAND RUBY                       21
        /CHOUDHARY JYOTI PUNIYANAND RUBY                       39
        /CHOUDHARY JYOTI PUNIYANAND RUBY                  1 A 9 9
6032028 DHOKE GAURAV BHASKAR VISHAKHA                          17
        DHOKE GAURAV BHASKAR VISHAKHA                          16
        DHOKE GAURAV BHASKAR VISHAKHA                          33
        DHOKE GAURAV BHASKAR VISHAKHA                     1 C 7 7
6032029 /GUPTA AANCHAL NEERAJ SWATI                            23
        /GUPTA AANCHAL NEERAJ SWATI                            23
        /GUPTA AANCHAL NEERAJ SWATI                            46
        /GUPTA AANCHAL NEERAJ SWATI                     1 O 10 10

                                         SOCIAL_MEDIA_ANALYTICS_LAB  \
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY                         21
        /CHOUDHARY JYOTI PUNIYANAND RUBY                         22
        /CHOUDHARY JYOTI PUNIYANAND RUBY                         43
        /CHOUDHARY JYOTI PUNIYANAND RUBY                  1 O 10 10
6032028 DHOKE GAURAV BHASKAR VISHAKHA                            20
        DHOKE GAURAV BHASKAR VISHAKHA                            21
        DHOKE GAURAV BHASKAR VISHAKHA                            41
        DHOKE GAURAV BHASKAR VISHAKHA                     1 O 10 10
6032029 /GUPTA AANCHAL NEERAJ SWATI                              23
        /GUPTA AANCHAL NEERAJ SWATI                              23
        /GUPTA AANCHAL NEERAJ SWATI                              46
        /GUPTA AANCHAL NEERAJ SWATI                       1 O 10 10

                                         MAJOR_PROJECT_II REMAR_K    TOTA_l
std_num std_name
6032027 /CHOUDHARY JYOTI PUNIYANAND RUBY               85       P       496
        /CHOUDHARY JYOTI PUNIYANAND RUBY               45       P       496
        /CHOUDHARY JYOTI PUNIYANAND RUBY              130       P       496
        /CHOUDHARY JYOTI PUNIYANAND RUBY        6 O 10 60      21  170 8.10
6032028 DHOKE GAURAV BHASKAR VISHAKHA                  76   P RPV       478
        DHOKE GAURAV BHASKAR VISHAKHA                  45   P RPV       478
        DHOKE GAURAV BHASKAR VISHAKHA                 121   P RPV       478
        DHOKE GAURAV BHASKAR VISHAKHA           6 O 10 60      21  167 7.95
6032029 /GUPTA AANCHAL NEERAJ SWATI                    91       P       603
        /GUPTA AANCHAL NEERAJ SWATI                    48       P       603
        /GUPTA AANCHAL NEERAJ SWATI                   139       P       603
        /GUPTA AANCHAL NEERAJ SWATI             6 O 10 60      21  201 9.57

In [ ]:
entry_1.to_csv('data.csv')